resources/bin/* filter=lfs diff=lfs merge=lfs -text
/resources/icons/icon.icns filter=lfs diff=lfs merge=lfs -text
/resources/linux/arduino/arduino-cli filter=lfs diff=lfs merge=lfs -text
/resources/macOS/arduino/arduino-cli filter=lfs diff=lfs merge=lfs -text
/resources/win32/arduino/arduino-cli.exe filter=lfs diff=lfs merge=lfs -text
/resources/win32/proffie-dfu-setup.exe filter=lfs diff=lfs merge=lfs -text
/screenshots/editor-bladearrays.png filter=lfs diff=lfs merge=lfs -text
/screenshots/editor-bladeawareness.png filter=lfs diff=lfs merge=lfs -text
/screenshots/editor-general.png filter=lfs diff=lfs merge=lfs -text
/screenshots/editor-presetsstyles.png filter=lfs diff=lfs merge=lfs -text
/screenshots/editor-propfile-fett263.png filter=lfs diff=lfs merge=lfs -text
/screenshots/mainmenu.png filter=lfs diff=lfs merge=lfs -text
/build-Windows/debug/ProffieConfig.exe filter=lfs diff=lfs merge=lfs -text
/build/ProffieConfig filter=lfs diff=lfs merge=lfs -text
/build-ProffieConfig-Windows-Release/.qtc_clangd/.cache/clangd/index/wxcrtvararg.h.687121895A72873B.idx filter=lfs diff=lfs merge=lfs -text
/build-Windows/.qtc_clangd/.cache/clangd/index/wxcrtvararg.h.687121895A72873B.idx filter=lfs diff=lfs merge=lfs -text
/build-Windows/debug/arduino.o filter=lfs diff=lfs merge=lfs -text
/build-Windows/debug/bladespage.o filter=lfs diff=lfs merge=lfs -text
/build-Windows/debug/configuration.o filter=lfs diff=lfs merge=lfs -text
/build-Windows/debug/generalpage.o filter=lfs diff=lfs merge=lfs -text
/build-Windows/debug/hardwarepage.o filter=lfs diff=lfs merge=lfs -text
/build-Windows/debug/initializer.o filter=lfs diff=lfs merge=lfs -text
/build-Windows/debug/main.o filter=lfs diff=lfs merge=lfs -text
/build-Windows/debug/mainwindow.o filter=lfs diff=lfs merge=lfs -text
/build-Windows/debug/misc.o filter=lfs diff=lfs merge=lfs -text
/build-Windows/debug/presetspage.o filter=lfs diff=lfs merge=lfs -text
/build-Windows/debug/progress.o filter=lfs diff=lfs merge=lfs -text
/build-Windows/resources/ProffieOS/props/saber_fett263_buttons.h filter=lfs diff=lfs merge=lfs -text
/build-Windows/resources/ProffieOS/sound/voice_data.h filter=lfs diff=lfs merge=lfs -text
/build-Windows/resources/arduino-cli/arduino-cli.exe filter=lfs diff=lfs merge=lfs -text
/resources/ProffieOS/props/saber_fett263_buttons.h filter=lfs diff=lfs merge=lfs -text
/resources/ProffieOS/sound/voice_data.h filter=lfs diff=lfs merge=lfs -text
/resources/linux/arduino-cli/arduino-cli filter=lfs diff=lfs merge=lfs -text
/resources/win32/arduino-cli/arduino-cli.exe filter=lfs diff=lfs merge=lfs -text
/src/ProffieConfig filter=lfs diff=lfs merge=lfs -text
/src/ProffieConfig.debug filter=lfs diff=lfs merge=lfs -text
/src/arduino.o filter=lfs diff=lfs merge=lfs -text
/src/bladespage.o filter=lfs diff=lfs merge=lfs -text
/src/configuration.o filter=lfs diff=lfs merge=lfs -text
/src/generalpage.o filter=lfs diff=lfs merge=lfs -text
/src/hardwarepage.o filter=lfs diff=lfs merge=lfs -text
/src/initializer.o filter=lfs diff=lfs merge=lfs -text
/src/main.o filter=lfs diff=lfs merge=lfs -text
/src/mainwindow.o filter=lfs diff=lfs merge=lfs -text
/src/misc.o filter=lfs diff=lfs merge=lfs -text
/src/presetspage.o filter=lfs diff=lfs merge=lfs -text
/resources/macOS/arduino-cli/arduino-cli filter=lfs diff=lfs merge=lfs -text
/resources/Icons/icon.icns filter=lfs diff=lfs merge=lfs -text
/resources/icons/icon.xpm filter=lfs diff=lfs merge=lfs -text
/src/resources/win32/arduino-cli/arduino-cli.exe filter=lfs diff=lfs merge=lfs -text
/src/resources/win32/proffie-dfu-setup.exe filter=lfs diff=lfs merge=lfs -text
/resources/bin/Linux/arduino-cli filter=lfs diff=lfs merge=lfs -text
/resources/bin/Win32/arduino-cli.exe filter=lfs diff=lfs merge=lfs -text
/resources/bin/Win32/proffie-dfu-setup.exe filter=lfs diff=lfs merge=lfs -text
/resources/bin/macOS/arduino-cli filter=lfs diff=lfs merge=lfs -text
/resources/component-icons/led.svg filter=lfs diff=lfs merge=lfs -text
/resources/icons/old/icon.icns filter=lfs diff=lfs merge=lfs -text
/resources/icons/icon-zoom.png filter=lfs diff=lfs merge=lfs -text
/resources/icons/icon.png filter=lfs diff=lfs merge=lfs -text
